li{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
.menu{
    position: absolute;
    width: 300px;
    height: 700px;
    background-color: gray;
    /* transform: translateX(-90%); */
    transition: transform 500ms ease;
}
.menu:hover{
    transform: translateX(0);
}
.menu-title{
    position: absolute;
    top: 304px;
    left: 205px;
    transform: rotate(90deg);
    width: 150px;
    color: #FFF;
    opacity: 1;
    transition: opacity 500ms ease;
}
.menu:hover .menu-title{
    opacity: 0;
}
.menu-list{
    display: flex;
    flex-direction: column;
}
.item-title{
    color: #FFF;
    transition-property: color;
transition-delay: 200ms;
transition-duration: 1s;
}
.item-title:hover{
color: orange;
transition-property: color;
transition-delay: 200ms;
transition-duration: 1s;
}